<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataBlob.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BLOB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.blob</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>REX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DLoc.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LOC4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.localization</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>RSR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DPref.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.preferences</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4QR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DQuickReport.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>REPT</string>
				<string>4DSE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.quickReport</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>RSR</string>
				<string>4DR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DRes.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>res</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.resourceFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4ST</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DSet.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SETT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.setFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4VR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DVar.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VAR1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.variableFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>HLP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataHelp.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4Hlp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.helpFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataText.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.asciiFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4CT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataChart.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CTDC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.chartFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4SI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DExportPref.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DSI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.settings</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4IE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataExport.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DIE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.importExportFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4FI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataASCII.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FILT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.asciiFilter</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4LB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataLabel.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DET</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.labelFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4FR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DDataFormula.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EFRM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.formula</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>TFR</string>
				<string>4DF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DSearch.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TFRM</string>
				<string>RECH</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.queryFile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DX</string>
				<string>4CX</string>
				<string>bundle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Plugin.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DCB</string>
				<string>4DPY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DLog.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4LOG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.log</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>StructureCompil.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BASY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.compiled-structure-file</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Structure.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BAS5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.interpreted-structure-file</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DB</string>
				<string>4DC</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BAS5</string>
				<string>BASY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.structure-file</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4DbasePackage.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.database-package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4dd</string>
				<string>data</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Data.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dat5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.data-file</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PTH</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Password.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>paTH</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.password</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4DS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DataSegment.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dax5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.segment</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4UG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>UserGroup.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DUG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.userGroup</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>4IL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>4DObjectLib.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>4DLB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.objectLibrary</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.class</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>4e Dimension.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.4d.4d</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2007</string>
	<key>CFBundleSignature</key>
	<string>4D06</string>
	<key>CFBundleVersion</key>
	<string>2007</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Blob</string>
			<key>UTTypeIconFile</key>
			<string>4DDataBlob.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.blob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BLOB</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Localization</string>
			<key>UTTypeIconFile</key>
			<string>4DLoc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.localization</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>pref</string>
				<key>public.filename-extension</key>
				<array>
					<string>LOC4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Preferences</string>
			<key>UTTypeIconFile</key>
			<string>4DPref.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.preferences</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>pref</string>
				<key>public.filename-extension</key>
				<array>
					<string>RSR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Quick Report</string>
			<key>UTTypeIconFile</key>
			<string>4DQuickReport.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.quickReport</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>REPT</string>
					<string>4DSE</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4QR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Resource File</string>
			<key>UTTypeIconFile</key>
			<string>4DRes.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.resourceFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>res</string>
				<key>public.filename-extension</key>
				<array>
					<string>RSR</string>
					<string>4DR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Set File</string>
			<key>UTTypeIconFile</key>
			<string>4DSet.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.setFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SETT</string>
				<key>public.filename-extension</key>
				<array>
					<string>4ST</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Variable File</string>
			<key>UTTypeIconFile</key>
			<string>4DVar.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.variableFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VAR1</string>
				<key>public.filename-extension</key>
				<array>
					<string>4VR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Help File</string>
			<key>UTTypeIconFile</key>
			<string>DataHelp.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.helpFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4Hlp</string>
				<key>public.filename-extension</key>
				<array>
					<string>HLP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCII File</string>
			<key>UTTypeIconFile</key>
			<string>4DDataText.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.asciiFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>TEXT</string>
				<key>public.filename-extension</key>
				<array>
					<string>TXT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Chart File</string>
			<key>UTTypeIconFile</key>
			<string>4DDataChart.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.chartFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CTDC</string>
				<key>public.filename-extension</key>
				<array>
					<string>4CT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Settings File</string>
			<key>UTTypeIconFile</key>
			<string>4DExportPref.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DSI</string>
				<key>public.filename-extension</key>
				<array>
					<string>4SI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Import &amp; Export File</string>
			<key>UTTypeIconFile</key>
			<string>4DDataExport.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.importExportFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DIE</string>
				<key>public.filename-extension</key>
				<array>
					<string>4IE</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCII Filter</string>
			<key>UTTypeIconFile</key>
			<string>4DDataASCII.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.asciiFilter</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>FILT</string>
				<key>public.filename-extension</key>
				<array>
					<string>4FI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Label File</string>
			<key>UTTypeIconFile</key>
			<string>4DDataLabel.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.labelFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DET</string>
				<key>public.filename-extension</key>
				<array>
					<string>4LB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Formula</string>
			<key>UTTypeIconFile</key>
			<string>4DDataFormula.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.formula</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>EFRM</string>
				<key>public.filename-extension</key>
				<array>
					<string>4FR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Query File</string>
			<key>UTTypeIconFile</key>
			<string>4DSearch.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.queryFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>TFRM</string>
					<string>RECH</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>TFR</string>
					<string>4DF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Plugin</string>
			<key>UTTypeIconFile</key>
			<string>Plugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4DCB</string>
					<string>4DPY</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4DX</string>
					<string>4CX</string>
					<string>bundle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Log</string>
			<key>UTTypeIconFile</key>
			<string>4DLog.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.log</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4LOG</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DL</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Password</string>
			<key>UTTypeIconFile</key>
			<string>Password.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.password</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>paTH</string>
				<key>public.filename-extension</key>
				<array>
					<string>PTH</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Segment</string>
			<key>UTTypeIconFile</key>
			<string>DataSegment.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.segment</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>dax5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DS</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D UserGroup</string>
			<key>UTTypeIconFile</key>
			<string>UserGroup.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.userGroup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DUG</string>
				<key>public.filename-extension</key>
				<array>
					<string>4UG</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Object Library</string>
			<key>UTTypeIconFile</key>
			<string>4DObjectLib.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.objectLibrary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DLB</string>
				<key>public.filename-extension</key>
				<array>
					<string>4IL</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.4d.4d.interpreted-structure-file</string>
				<string>com.4d.4d.compiled-structure-file</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.structure-file</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Interpreted Structure File</string>
			<key>UTTypeIconFile</key>
			<string>Structure.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.interpreted-structure-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BAS5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Compiled Structure File</string>
			<key>UTTypeIconFile</key>
			<string>StructureCompil.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.compiled-structure-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BASY</string>
				<key>public.filename-extension</key>
				<array>
					<string>4dc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Database Package</string>
			<key>UTTypeIconFile</key>
			<string>4DbasePackage.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.database-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dbase</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Data File</string>
			<key>UTTypeIconFile</key>
			<string>Data.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.data-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DAT5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4dd</string>
					<string>data</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Class</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.class</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Method</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.method</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mtd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Export File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.exportFile</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Journal File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.journalFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>journal</string>
				</array>
			</dict>
		</dict>
	</array>
  
  <key>UTExportedTypeDeclarations</key>
      <array>

      <!-- 41 exported types -->

      <!-- Base types -->
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.item</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.content</string>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.composite-content</string>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.item</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.data</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.database</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.calendar-event</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.message</string>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.composite-content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.presentation</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.contact</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.archive</string>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.archive</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.disk-image</string>
      </dict>

      <!-- Basic types -->
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.content</string>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.text</string>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.plain-text</string>
        <key>UTTypeDescription</key>
        <string>Text File</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>txt</string>
          </array>
          <key>public.mime-type</key>
          <string>text/plain</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.utf8-plain-text</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>utf8</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.utf16-external-plain-text</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>ut16</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.utf16-plain-text</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>utxt</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.traditional-mac-plain-text</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>TEXT</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.rtf</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>RTF</string>
          <key>public.filename-extension</key>
          <array>
            <string>rtf</string>
          </array>
          <key>public.mime-type</key>
          <string>text/rtf</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.ink.inktext</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.html</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>HTML</string>
          <key>public.filename-extension</key>
          <array>
            <string>html</string>
            <string>htm</string>
          </array>
          <key>public.mime-type</key>
          <string>text/html</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.xml</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>xml</string>
          </array>
          <key>public.mime-type</key>
          <string>text/xml</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.sql</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>sql</string>
          </array>
          <key>public.mime-type</key>
          <string>text/sql</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.source-code</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.image</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.jpeg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>JPEG</string>
          <key>public.filename-extension</key>
          <array>
            <string>jpg</string>
            <string>jpeg</string>
          </array>
          <key>public.mime-type</key>
          <string>image/jpeg</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.jpeg-2000</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>jp2 </string>
          <key>public.filename-extension</key>
          <array>
            <string>jp2</string>
          </array>
          <key>public.mime-type</key>
          <string>image/jp2</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.tiff</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>TIFF</string>
          <key>public.filename-extension</key>
          <array>
            <string>tif</string>
            <string>tiff</string>
          </array>
          <key>public.mime-type</key>
          <string>image/tiff</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.pict</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>PICT</string>
          <key>public.filename-extension</key>
          <array>
            <string>pic</string>
            <string>pct</string>
            <string>pict</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>image/x-pict</string>
            <string>image/x-macpict</string>
            <string>image/pict</string>
          </array>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.macpaint-image</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>PNTG</string>
          <key>public.filename-extension</key>
          <array>
            <string>pntg</string>
          </array>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.png</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>PNGf</string>
          <key>public.filename-extension</key>
          <array>
            <string>png</string>
          </array>
          <key>public.mime-type</key>
          <string>image/png</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.xbitmap-image</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>xbm</string>
          </array>
          <key>public.mime-type</key>
          <string>image/x-quicktime</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.quicktime-image</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>qtif</string>
          <key>public.filename-extension</key>
          <array>
            <string>qif</string>
            <string>qtif</string>
          </array>
          <key>public.mime-type</key>
          <string>image/x-quicktime</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.icns</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>icns</string>
          <key>public.filename-extension</key>
          <array>
            <string>icns</string>
          </array>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.composite-content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.txn.text-multimedia-data</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>txtn</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.audiovisual-content</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audiovisual-content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.movie</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.video</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.movie</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.apple.quicktime-movie</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>MooV</string>
          <key>public.filename-extension</key>
          <array>
            <string>mov</string>
            <string>qt</string>
          </array>
          <key>public.mime-type</key>
          <string>video/quicktime</string>
        </dict>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audiovisual-content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.audio</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.item</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.directory</string>
      </dict>

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.directory</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.folder</string>
      </dict>

      <dict>
        <key>UTTypeIdentifier</key>
        <string>public.executable</string>
      </dict>


    </array>

    <key>UTImportedTypeDeclarations</key>
    <array>

      <!-- 8 imported types -->

      <!-- ======= -->
      <!-- = PDF = -->
      <!-- ======= -->
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.composite-content</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.adobe.pdf</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>PDF </string>
          <key>public.filename-extension</key>
          <array>
            <string>pdf</string>
          </array>
          <key>public.mime-type</key>
          <string>application/pdf</string>
        </dict>
      </dict>

      <!-- ============== -->
      <!-- = Postscript = -->
      <!-- ============== -->
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.adobe.postscript</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ps</string>
          </array>
          <key>public.mime-type</key>
          <string>application/postscript</string>
        </dict>
      </dict>

      <!-- ======= -->
      <!-- = EPS = -->
      <!-- ======= -->

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>com.adobe.postscript</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.adobe.encapsulated-postscript</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>eps</string>
          </array>
        </dict>
      </dict>

      <!-- ======= -->
      <!-- = GIF = -->
      <!-- ======= -->

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.compuserve.gif</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>GIFF</string>
          <key>public.filename-extension</key>
          <array>
            <string>gif</string>
          </array>
          <key>public.mime-type</key>
          <string>image/gif</string>
        </dict>
      </dict>

      <!-- ======= -->
      <!-- = BMP = -->
      <!-- ======= -->

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.microsoft.bmp</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <array>
            <string>BMP </string>
            <string>BMPf</string>
          </array>
          <key>public.filename-extension</key>
          <array>
            <string>bmp</string>
          </array>
        </dict>
      </dict>

      <!-- ======= -->
      <!-- = ICO = -->
      <!-- ======= -->

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.microsoft.ico</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ico</string>
          </array>
        </dict>
      </dict>

      <!-- ============= -->
      <!-- = SGI Image = -->
      <!-- ============= -->


      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.sgi.sgi-image</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>.SGI</string>
          <key>public.filename-extension</key>
          <array>
            <string>sgi</string>
          </array>
          <key>public.mime-type</key>
          <string>image/sgi</string>
        </dict>
      </dict>

      <!-- ======= -->
      <!-- = TGA = -->
      <!-- ======= -->

      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.image</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.truevision.tga-image</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>com.apple.ostype</key>
          <string>TPIC</string>
          <key>public.filename-extension</key>
          <array>
            <string>tga</string>
          </array>
          <key>public.mime-type</key>
          <array>
            <string>image/tga</string>
            <string>application/tga</string>
            <string>image/targa</string>
          </array>
        </dict>
      </dict>

    </array>
  </dict>
</plist>
